.FlexContainer {
  display: flex;
  justify-content: space-around;
}
.FlexItem {
  padding: 1.1rem;
}
.Title {
  text-align: center;
  font-size: 2rem;
}
.AboutUs{
  margin: auto;
margin-top: 2%;
    padding: 2rem;
    text-align: left;
    width:70%;
    max-width: 100%;
 
    z-index: 5;

    justify-content: center;
}

@media (max-width: 800px) {
  .FlexContainer {
    flex-direction: column;
  }
  .FlexItem {
    display: flex;
    justify-content: center;
  }
}
