.Card {
  border-radius: 10px;
  padding: 20px;


width: 500px;
max-width: 100%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}
.Image {
  padding: 1rem;
width: 85%;
 
 
  z-index: 1;
}
.Img {
  display: flex;
  justify-content: center;
  overflow: visible;
  padding: 10px 0;
}

.Name {
  font-size: 2rem;
  text-align: center;


}
.Content {
  text-align: justify;
  font-size: 1rem;
  padding: 1rem;
}
