.container {
  box-shadow: 0 1px 4px rgba(247, 186, 186, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: left;
  width: 40%;
  z-index: 10;
  position: absolute;
  top: 20vh;
  left: calc(50% - 15rem);
}

.p {
  margin: auto;
  text-align: center;
  width: 50%;
}
