.container {

  border-radius: 6px;
  background-color: #e4f1f1;
  padding: 1rem;
  text-align: center;
  width: 850px;
  max-width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  z-index: 5;
  justify-content: center;
}

.p {
  margin: auto;
  text-align: center;
  width: 50%;
}
.flexBox {
  margin: auto;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.flexItem {
  justify-content: center;
  padding-left: 7%;
}
.flexItem2 {
  width: 0.7%;
  height: 350px;
  border-radius: 5px;
  background-color: #212529;
}
.content {
  font-size: 2rem;
}
@media screen and (max-width: 1000px) {
  .flexBox {
    flex-direction: column;
  }
  .flexItem2 {
    display: none;
  }
  .flexItem {
    margin: 2rem;
  }
}
