.cont{
  margin: auto;
 
  
    margin-top: 3%;
    padding: 2rem;
    text-align: left;
    width:70%;
    max-width: 100%;
 
    z-index: 5;

    justify-content: center;

}
.button{

  background-color: rgb(117, 148, 158);
  color: white;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  font-size: 1.5rem;
 
  border:none;
  text-align: center;
  margin: auto;
}

.button:hover
{
box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);


}