
.row{
  display: grid;
  grid-template-columns: auto  auto  auto auto;

}
.mainfooter {
  color: white;
  background-color: lightblue;
  padding-top: 1em;
  position: relative;
  padding-bottom: 1em;
  width: 100%;
}
@media screen and(min-width:600px){
  .col1 > *{
    flex: 1;
  }
  .col2{
    flex: 1 0px;
  }
}