@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.nav {
  background-color: lightblue;
  z-index: 50;
}

.button {
  position: relative;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.button:after {
  content: "";
  height: 3px;
  border-radius: 0.3rem;
  background-color: white;
  width: 0;
  left: 0;
  bottom: -10px;
  position: absolute;
  transition: all 300ms ease-in-out;
}

.button:hover::after{
  width: 100%;
}

.hamburger {
  display: none;
}

.navCenter {
  padding: 0 1rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Concert One';
  font-size: 2rem;
  padding-left: 1em;
  color: black;
  text-decoration: none;
  
}

.navList {
  display: flex;
  align-items: center;
}

.navItem:not(:last-child) {
  margin-right: 0.5rem;
}

.navLink {
padding: 0 1rem;
}

.color {
  background-color: rgb(29, 172, 255);
}

@media only screen and (max-width: 768px) {
  .hamburger {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .navList {
    z-index: 50;
    position: fixed;
    top: 80px;
    left: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 60%;
    padding: 1.5rem 0;
    transition: all 300ms ease-in-out;
  }

  .navListActive {
    position: fixed;
    top: 80px;
    left: 0%;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    width: 100%;
    height: 60%;
    padding: 1.5rem 0;
    transition: all 300ms ease-in-out;
  }

  .navItem:not(:last-child) {
    margin-right: 0;
  }

  .navItem {
    width: 100%;
    text-align: center;
  }

  .navLink {
    padding: 1rem;
  }
  .button{
    font-size: 1.4rem;
  }
}
