@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');



.button {
  position: relative;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 2rem;
  width: 90px;
}

.button:after {
  content: "";
  height: 5px;
  border-radius: 0.1rem;
  background-color: white;
  width: 0;
  left: 0;
  bottom: -20%;
  position: absolute;
  transition: all 400ms ease-in-out;
}
.button:hover{
  text-decoration: none;
  color: inherit;
}

.button:hover::after{
  width: 100%;
}

.Lbutton {
  position: relative;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 2rem;
  width: 90px;

}

.Lbutton:after {
  content: "";
  height: 5px;
  border-radius: 0.1rem;
  background-color: white;
  width: 0;
  left: 0;
  bottom: -20%;
  position: absolute;
  transition: all 400ms ease-in-out;
}
.Lbutton:hover{
  text-decoration: none;
  color: inherit;
}

.Lbutton:hover::after{
  width: 100%;
}

@media only screen and (max-width: 768px) {
 
  .button{
    font-size: 1.4rem;
    text-align: left;
  }
  .Lbutton{
    font-size: 1.4rem;
    text-align: left;

  }
}
