.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}
.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(117, 148, 158);
  color: white;
  border: 1px solid rgb(117, 148, 158);
  margin: 0 1rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  background-color: transparent;
  color: rgb(117, 148, 158);
  box-shadow: 1px 1px 5px gray;
}
.button1 {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(117, 148, 158);
  color: white;
  border: 1px solid rgb(117, 148, 158);
  margin: 0 1rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  box-shadow: 1px 1px 5px gray;
}
.button1:hover {
  background-color: #66858f;
  border-color: #66858f;
}
.button:hover {
  background-color: #cfdadd;
  color: #66858f;
}
