.form {
  padding-top: 10px;
  position: absolute;
  right: 2em;
}

.ul {
  text-align: center;
}

.li {
  text-align: end;
}

.div {
  margin-left: auto;
  margin-right: 0;
}

.label {
  margin: 5px;
}

.button {
  margin: 5px;
}
